@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Playfair+Display:wght@600&display=swap');
*{
  list-style: none;
  text-decoration: none;
}
body{
  font-family: 'Iceberg', cursive;
}
.Container{
  margin: auto;
  max-width: 820px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  align-items: center;
}
.container{
  max-width: 820px;
  margin: auto;
}

.right-navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-inline: 1rem;
}
.left h1{
  color: rgba(0, 0, 0, 0.80)
}
.right-navbar li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  gap: 4px;
}
.right-navbar a{
  color: rgba(0, 0, 0, 0.80)
}


/* login */

.Login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.login-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.login-form input{
  width: 400px;
  height: 40px;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 5px;
  outline: none;
}
.login-form input:focus{
  background-color: rgba(32, 99, 221, 0.5);
  color: white;
}
.button-login{
  width: 100%;
}
.button-login button{
  width: 100%;
  padding: 10px;
  border: none;
  background-color: brown;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.button-login button:active{
  transform: scale(0.8);
  transition: 1s;
}
.Spinner{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingspinner{
  width: 64px;
  height: 64px;
  border: 4px solid;
  border-radius: 100%;
  border-color: #9e2a2b transparent #ef233c transparent;
  animation: spin 1.2s linear infinite;
}
.btn{
  background: #ef233c;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background: #9e2a2b;
  transition: 1s;
}
.form-group-control{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  gap: 10px;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.form-group input{
  height: 30px;
}
.todokapsam{
 display: flex;
  flex-direction: column;
}
.todolist{
  width: 100%;

}
.todos{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.todos>.todolar{
  background-color: #d3d3d3;
  margin: 1rem;
  height: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}
.todos>*:hover{
  box-shadow: 5px 10px 15px 20px rgba(0, 0, 0, 0.05);
}
.close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  background: #ef233c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@keyframes spin{
  0%{
    transform: rotate(360deg);
  }
}


@media(max-width:520px){
  .login-form input{
    width: 300px;
  }
  .button-login{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}